<!DOCTYPE html>
<html ng-app="ionicApp" ng-controller="hCueProfileController">
        <head>
        <meta http-equiv="Pragma" content="no-cache">
        <meta http-equiv="Cache-Control" content="no-cache">
        <meta http-equiv="Expires" content="">
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
        <title>About Pharmacy</title>
       <!-- <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,300' rel='stylesheet' type='text/css'>-->
           
          
          <link href="css/ionic.css" rel="stylesheet">         
          <link href="css/custom.css" rel="stylesheet">
        
        
        </head>
	<body>
		  
			<!-- /bar-header Section -->
			<div class="wrapper"><!-- wrapper Starts -->
			<div class="content "><!-- Main content starts -->
			
				<h1 class="text-center h1-title"><span class="title-span">Profile</span></h1>
				
				<div class="row adress-sec"><!-- row -->
					<div class="col col-30 col-img"> 
						 <img src="images/pharma-img.png" alt="">
						
					</div> 
					<div class="col col-50 col-adress" ng-hide="editorEnabled">
						<h3>{{profile[0].PharmaName}}</h3>
						<p>{{profile[0].Address1}},{{profile[0].Address2}}.</p>
						<span><i class="ion-ios-telephone"></i> +91 {{profile[0].ContactNumber}}</span>
					</div>
                   <!--  <div class="col col-50 col-adress"  ng-show="editorEnabled">
                        <h3><label class="item item-input">	<input ng-model="profile[0].PharmaName"></label></h3>
                         <p><label class="item item-input">	<input ng-model="profile[0].Address1"></label>,
                         <label class="item item-input">
                             <input id="Autocomplete" class="form-control" ng-autocomplete ng-model="profile[0].Address2"></label></p>
                         <span><i class="ion-ios-telephone"></i> +91 <label class="item item-input">	
                                <input ng-model="profile[0].ContactNumber">
                             </label></span>
                        <a href="#" ng-click="editorEnabled=!editorEnabled">Done editing?</a>
                    </div>
                    <div class="col col-20 text-right col-edit"><a  ng-click="editorEnabled=!editorEnabled"><i class="ion-compose"></i></a></div>
                        -->
					<div class="col col-20 text-right col-edit"><a  href="#/app/editprofile"><i class="ion-compose"></i></a></div>
				</div><!-- row end-->
				<div class="row mail-details">
					<div class="col text-center email-id">
						<a href="#"><i class="ion-ios-email-outline"></i><span>{{profile[0].Email}}</span></a>
					
					</div>
					<div class="col text-center">
						<a href="#"><i class="ion-ios-world-outline"></i><span>{{profile[0].Website}}</span></a>
					
					</div>
					
				</div>
				
				<div class="row book-appoinment">
					<div class="col app-title">
						<h2 class="text-center book-appo"><a href="#">Order online <span>Coming Soon! </span></a></h2>
					</div>
				</div>
				
			  <div class="tabs-striped tab-section">
			    <div class="tabs">
			      <a ng-class="fnSetTabColor(1)"  ng-click="fnShowTab(1)"  title="#/app/profile">  <i class="ion-person"></i>  </a>
			      <a ng-class="fnSetTabColor(2)" ng-click="fnShowTab(2)" title="#/app/profilehr"> <i class="ion-ios-clock-outline"></i>    </a>
			      <a ng-class="fnSetTabColor(3)" ng-click="fnShowTab(3)" title="#/app/profiledelivery" >  <i class="ion-android-walk"></i>  </a>
               
			    </div>
			    <div id="tab-content-1" class="row content-1 about-doctor" ng-show="tabno ==1">
                    <div class="col col-50">
			    	    <h3 class="text-center about-doc">About Us.</h3>
			    	 </div>
                     <div class="col col-50 text-right edit-icon">
                        <a  href="#/app/editprofileabout"><i class="ion-compose"></i></a>
                     </div>
			    </div>
			    <div id="tab-content-2" class="row content-1 about-doctor" ng-show="tabno ==2">
			    	<div class="col col-50">
			    		<h3 class="text-right about-doc">Open Hours</h3>
			    	</div>
			    	<div class="col col-50 text-right edit-icon">
			    		<a href="#/app/editprofilehours"><i class="ion-compose"></i></a>
			    	</div>
			    </div>

                <div id="tab-content-3" class="row content-1 about-doctor" ng-show="tabno ==3">
                    <div class="col col-50">
			    		<h3 class="text-center about-doc">Delivery</h3>
                        </div>
                    <div class="col col-50 text-right edit-icon">
                      
                     <a  href="#/app/editprofiledelivery"><i class="ion-compose"></i></a>
                    </div>
			    </div>
			  </div>
                <!-- Contact Name-->
			 <div id="tab-1" ng-show="tabno == 1">
			  <div class="row doctor-history">			   
			  		<div class="col col-30"><label>Contact Name</label>	</div>
			  		<div class="col col-70 pading-0">
			  			 <img src="images/contact-1.png" alt="">
						<span>{{profile[0].about.ContactName}}</span>
					</div>
			  </div>
			  <div class="row doctor-history">
			  		<div class="col col-30"><label>About</label></div>
			  		<div class="col col-70">
			  			<p>{{profile[0].about.Description}}</p>
						 		
			  		</div>
			  	</div>
			  	<div class="row doctor-history last-bottom">
			  		<div class="col col-30"><label>Free Delivery</label></div>
			  		<div class="col col-70">
			  			<p>Upto {{profile[0].delivery.distance}} Kms</p>
			  		 
			  		</div>
			  	</div>
		     </div>   
			  
             <div id="tab-2" ng-show="tabno ==2">
                  <div class="row weekdays-disp">			   
			  		<div class="col text-center "><label>Monday</label></div>
			  		<div class="col text-center" ng-repeat="hour in filteredItems =(businesshouritems| filter:{DayCD:'MON'})"><span>{{hour.StartTime}} - {{hour.EndTime}}</span></div>
                  <div class="col text-center" ng-hide="filteredItems.length"><span>Closed</span></div>
			  					  	 
			  </div>
			  <div class="row weekdays-disp">
			  		<div class="col text-center"><label>Tuesday</label></div>
			  		<div class="col text-center" ng-repeat="hour in filteredItems= (businesshouritems| filter:{DayCD:'TUE'})"><span>{{hour.StartTime}} - {{hour.EndTime}}</span></div>
                  <div class="col text-center" ng-hide="filteredItems.length"><span>Closed</span></div>
			  </div>
			  <div class="row weekdays-disp">
			  		<div class="col text-center"><label>Wednesday</label></div>
			  		<div class="col text-center" ng-repeat="hour in filteredItems= (businesshouritems| filter:{DayCD:'WED'})"><span>{{hour.StartTime}} - {{hour.EndTime}}</span></div>
                  <div class="col text-center" ng-hide="filteredItems.length"><span>Closed</span></div>
			  </div>
			  <div class="row weekdays-disp">
			  		<div class="col text-center"><label>Thursday</label></div>
			  		<div class="col text-center" ng-repeat="hour in filteredItems =(businesshouritems| filter:{DayCD:'THU'})"><span>{{hour.StartTime}} - {{hour.EndTime}}</span></div>
                  <div class="col text-center" ng-hide="filteredItems.length"><span>Closed</span></div>
			  </div>
			    <div class="row weekdays-disp">
			  		<div class="col text-center"><label>Friday</label></div>
			  		<div class="col text-center" ng-repeat="hour in filteredItems= (businesshouritems| filter:{DayCD:'FRI'})"><span>{{hour.StartTime}} - {{hour.EndTime}}</span></div>
                  <div class="col text-center" ng-hide="filteredItems.length"><span>Closed</span></div>
			  </div>
			  <div class="row weekdays-disp">
			  		<div class="col text-center"><label>Saturday</label></div>
			  		<div class="col text-center" ng-repeat="hour in filteredItems= (businesshouritems| filter:{DayCD:'SAT'})"><span>{{hour.StartTime}} - {{hour.EndTime}}</span></div>
                  <div class="col text-center" ng-hide="filteredItems.length"><span>Closed</span></div>
			  </div>
			  <div class="row weekdays-disp">
			  		<div class="col text-center"><label>Sunday</label></div>
			  		<div class="col text-center" ng-repeat="hour in  filteredItems =(businesshouritems| filter:{DayCD:'SUN'})"><span>{{hour.StartTime}} - {{hour.EndTime}}</span></div>
                  <div class="col text-center" ng-hide="filteredItems.length"><span>Closed</span></div>
			  </div>
			     
             </div>
             <div id="tab-3" ng-show="tabno ==3">
                 <div class="ord-del-sec-li">
					    <div class="row weekdays-disp" ng-repeat="(key,value) in deliveryExecutive">
					      
					        <div class="col col-20 del-pr-img"> <img src="images/contact-1.png"> </div>
					        <div class="col col-30 del-pr-name">
					          <h3>{{value}}</h3>
					        </div>
					        <div class="col col-30 pr-con-no"> <a href="javascript:;"><i class="ion-ios-telephone"></i>+91 {{key}}</a> </div>
					        <!--<div class="col col-20 del-edi-li text-center"> <a href="javascript:;" class="del-icon-i"><i class="ion-ios-trash-outline"></i></a> <a href="javascript:;" class="edit-icon-i"><i class="ion-edit"></i></a> </div>-->
					      </div>
					    </div>
             </div>
			</div><!-- Main content End -->
			 
			
		</div>	 <!-- wrapper Ends -->
	</body>
</html> 