<!DOCTYPE html>
<html>
	<head>
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-Control" content="no-cache">
		<meta http-equiv="Expires" content="">
		<meta charset="utf-8">
		<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
		<title>Leads Details</title>
		
        
		<link href="css/ionic.css" rel="stylesheet">         
		<link href="css/custom.css" rel="stylesheet">
		
   	</head>

<body>
	<!--<div class="bar bar-header bar-positive bg-color">
		<div class="col col-75">
			<h1 class="title-left txt-white-color margin-0 padd-10">
				<a class="button ion-android-arrow-back button-clear back-icon"></a>
				Lead Details
			</h1>
		</div>
	</div>-->
    <div class="wrapper">
    	<div class="content">
    		<h1 class="text-center register"><a class="ion-android-arrow-back" href=""></a><span class="title-span">Lead Details</span></h1>
	         <a href="#/app/lead" class="add-more-btn"><i class="ion-android-sync" style="color: lightcoral;"></i>Refresh</a>
			<div class="row lead-details-nav">
                <div class="col">
                    <a href="" class="">leads (40)</a>
                </div>
                <div class="col">
                    <a href="" class="active">accepted leads (30)</a>
                </div>
			</div>
            <div class="lead-details-table">
            	<div class="row lead-details-table-header">
                    <div class="col">Patient Information</div>
                    <div class="col text-center distance-km">Distance <i class="ion-arrow-down-c"></i> <span>(KM)</span> </div>
                    <div class="col text-center">Expires <i class="ion-arrow-down-c"></i> <span>(HH:MM)</span> </div>
                    <div class="col text-center">Delivery </div>
              	</div>
                <div class="ld-table-info">
                    <div class="row">
                        <div class="col">
                            <h4>Willie Keeler</h4>
                            <p><i data-tags="oldschool, call" data-pack="ios" class="ion-ios-telephone"></i> +91 97903 34523</p>
                        </div>
                        <div class="col text-center"><strong>2.0</strong></div>
                        <div class="col text-center"><strong>650</strong></div>
                        <div class="col text-center">
                       		<label class="checkbox"><input type="checkbox"></label>
                      	</div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <h4>Christy Mathewson</h4>
                            <p><i data-tags="oldschool, call" data-pack="ios" class="ion-ios-telephone"></i> +91 97903 34523</p>
                        </div>
                        <div class="col text-center"><strong>1.5</strong></div>
                        <div class="col text-center"><strong>450</strong></div>
                        <div class="col text-center">
                       		<label class="checkbox"><input type="checkbox"></label>
                      	</div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <h4>Roberto Clemente</h4>
                            <p><i data-tags="oldschool, call" data-pack="ios" class="ion-ios-telephone"></i> +91 97903 34523</p>
                        </div>
                        <div class="col text-center"><strong>1.5</strong></div>
                        <div class="col text-center"><strong>500</strong></div>
                        <div class="col text-center">
                       		<label class="checkbox"><input type="checkbox"></label>
                      	</div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <h4>Warren Spahn</h4>
                            <p><i data-tags="oldschool, call" data-pack="ios" class="ion-ios-telephone"></i> +91 97903 34523</p>
                        </div>
                        <div class="col text-center"><strong>3.5</strong></div>
                        <div class="col text-center"><strong>600</strong></div>
                        <div class="col text-center">
                       		<label class="checkbox"><input type="checkbox"></label>
                      	</div>
                    </div>
           		</div>
            </div>
     	</div>
   </div>
</body>
</html>