<!DOCTYPE html>
<html ng-app="ionicApp">
        <head>
        <meta http-equiv="Pragma" content="no-cache">
        <meta http-equiv="Cache-Control" content="no-cache">
        <meta http-equiv="Expires" content="">
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
        <title>Add New Medicine</title>
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,300' rel='stylesheet' type='text/css'>
          <link href='http://fonts.googleapis.com/css?family=Megrim' rel='stylesheet' type='text/css'>
            <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,700,600' rel='stylesheet' type='text/css'>
          
          <link href="css/ionic.css" rel="stylesheet">         
          <link href="css/custom.css" rel="stylesheet">
          <script type="js/javascript" src="js/jquery-1.7.2.js"></script>        
          <script type="js/javascript" src="js/ionic.js"></script>   
          <script type="js/javascript" src="js/ionic-angular.js"></script>   
          <script type="js/javascript" src="js/angular-animate.js"></script>
          <script type="js/javascript" src="js/angular/tabs.js"></script>
        
        </head>
	<body>
		 
			 
			<div class="wrapper">
			<div class="content"><!-- Main content starts -->
			 <h1 class="text-center txt-white-color"><a href="#" class=""><i class="ion-android-arrow-back"></i></a><span class="title-span">Add New Medicine</span></h1>
		    <div class="row medic-row">		    	 
		   
			      <div class="col col-75"> <span class="text-left del-label">Medicine Name</span>
			        <div class="item item-input-inset">
			          <input type="text" id="mddicine-name" placeholder="enter medicine name">
			        </div>
			      </div>
			      <div class="col col-25 margin-lft"> <span class="text-left del-label">Quantity</span>
			        <div class="item item-input-inset">
			          <input type="text" id="quantity-no" placeholder="10">
			        </div>
			      </div>
		      
		    </div>
		    <div class="row pading"> <a  href="javascript:;" class="add-new-sec text-left"><i class="ion-plus"></i>Add More</a> </div>
		    <div class="row pading">
		      <div class="add-cancel-btn text-center">
		        <button type="button" class="button med-cancel-btn">Cancel</button>
		        <button type="button" class="button med-add-btn">Add</button>
		      </div>
		    </div>
		    
		  
	 
			     
			</div><!-- Main content End -->
		</div>	 
	</body>
</html> 


