<!DOCTYPE html>
<html ng-app="ionicApp">
        <head>
        <meta http-equiv="Pragma" content="no-cache">
        <meta http-equiv="Cache-Control" content="no-cache">
        <meta http-equiv="Expires" content="">
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
        <title>Delivery Information (Optional)</title>
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,300' rel='stylesheet' type='text/css'>
           
          
          <link href="css/ionic.css" rel="stylesheet">         
          <link href="css/custom.css" rel="stylesheet">
        
        
        </head>
	<body>
		 
			<div class="wrapper"><!-- wrapper Starts -->
			<div class="content "><!-- Main content starts -->
				
				<h1 class="text-center register">
					<a href="" class="ion-android-arrow-back" ng-click="NavigateBack()"></a><span class="title-span">Edit Delivery Info.</span></h1>
					
				 
				<div class="row">
					<div class="col legal-info">
						<h2 class="phar-titleinfo">Delivery Information (Optional)</h2>
						    <label class="row" >
                                         <span class="col" ng-show="errorflg" style="color:red">{{errormsg}}</span>
                            </label>
                             <div  ng-repeat="item in Register[0].delivery.deliveryExecutiveUI">
                                  <a class="add-more"  ng-click="RemoveExecutive(item)"><i class="ion-ios-minus-outline"></i>Remove Executive</a>
							    <div class="col text-center"><a class="profile-img deliv-img" href=""><img alt="" src="images/del-img.png"></a></div>
							    <div class="list register-1">
								    <span class="input-label">Delivery Executive</span>
							  	    <label class="item item-input">
							   	        <input type="text" placeholder="eg. Delivery Person's Name" ng-model="item.ExecutiveName" onfocus="if(this.value=='Delivery Executive'){this.value = '';}">
							        </label>
							  	    <span class="input-label">Contact Number</span>
							 	     <label class="item item-input">
							          <input type="text" placeholder="91" ng-model="item.PhoneNumber" maxlength="12" >
							        </label>
                                </div>
                              </div>
							  <a class="add-more"  ng-click="AddExecutive()"><i class="ion-ios-plus-outline"></i>Add More</a>
					 			 <span class="input-label free-delvry">Free Delivery Upto {{delivery.distance}}</span>
							 	<label class="select-kms">
							      <select ng-model="Register[0].delivery.distance">
							      	<option>00</option>
							      	<option>01</option>
							      	<option>02</option>
							      	<option>03</option>
							      	<option>04</option>
                                    <option>05</option>    
							      </select>
							      <span class="span-kms">Kms</span>
							  </label> 
							  
							
                            
							<div class="text-center next-btndiv margin65"><button class="button next-button" ng-click="RegisterClick(6,Register[0].delivery)">Save</button>
							</div>
					 
					</div>
				</div>
				 
				
				 
				 
				 
				  
			     
			</div><!-- Main content End -->
		</div>	 <!-- wrapper Ends -->
	</body>
</html> 