<!DOCTYPE html>
<html ng-app="ionicApp">
        <head>
        <meta http-equiv="Pragma" content="no-cache">
        <meta http-equiv="Cache-Control" content="no-cache">
        <meta http-equiv="Expires" content="">
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
        <title>Delivery Information (Optional)</title>
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,300' rel='stylesheet' type='text/css'>
           
          
          <link href="css/ionic.css" rel="stylesheet">         
          <link href="css/custom.css" rel="stylesheet">
          <script type="js/javascript" src="js/jquery-1.7.2.js"></script>        
          <script type="js/javascript" src="js/ionic.js"></script>   
          <script type="js/javascript" src="js/ionic-angular.js"></script>   
          <script type="js/javascript" src="js/angular-animate.js"></script>
          <script type="js/javascript" src="js/angular/tabs.js"></script>
        
        </head>
	<body>
	 		 
		<div class="wrapper"><!-- wrapper Starts -->
			<div class="content "><!-- Main content starts -->
				 
		  			<div class="row">
					      <div class="col">
					        <div class="reject-lead-popup-sec text-center">
					          <h3 class="text-center">Are you sure you want to reject this Lead?</h3>
					          <div class="button-bar popup-btns-cancel text-center">
					          <button class="button-dark icon-left cancel-btn" type="button"><i class="ion-close"></i>Reject Lead</button>
					          </div>
					        </div>
					        <div class="col close-btn text-center"> <a href="javascript:;">Close</a> </div>
					      </div>
					    </div>
	 
			</div><!-- Main content End -->
			
			
		</div>	 <!-- wrapper Ends -->
	</body>
</html> 